.tumb {
    height: 400px;
    width: 300px;
    background-color: rgb(123, 89, 243);
}

.tumb > img {
    display: block;
    width: 100%;
    height: 100%;

    /* object-fit: fill; */
    /* object-fit: contain; */
    /* object-fit: cover;  */
    object-fit: scale-down;
    
    
    object-position: left bottom;
}

/* title */
.title {
    width: 100%;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    background-image: repeating-radial-gradient(
    circle at center,
    rgb(255, 217, 0),
    rgb(255, 217, 0) 20px,
    rgb(91, 170, 255)20px,
    rgb(91, 170, 255) 40px);
}

/* gradient */

.gradient {
    margin-top: 50px;
    color: white;
    width: 500px;
    height: 250px;

    background-image: linear-gradient(to top left,rgb(255, 217, 0),rgb(123, 89, 243),rgb(91, 170, 255));
}

 /* radial */

 .radial {
    margin-top: 50px;
    color: white;
    width: 500px;
    height: 250px;

    background-image: radial-gradient( circle at center,rgb(255, 217, 0),rgb(123, 89, 243),rgb(91, 170, 255));
 }

 /* repeating-linear-gradient */

 .repeating-linear-gradient {
    margin-top: 50px;
    color: white;
    width: 500px;
    height: 250px;

    background-image: repeating-radial-gradient(
    circle at center,
    rgb(123, 89, 243),
    rgb(123, 89, 243)20px,
    rgb(91, 170, 255)20px,
    rgb(91, 170, 255)40px
    );
 }


 /* ТІНЬ ЕЛЕМЕНТІВ */

.list-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.list-box > .item {
    flex-basis: calc((100% - 30px) / 2);
    width: 100px;
    display: block;

    background-color: rgb(123, 89, 243);
    padding: 10px;
    /*  Якщо нема нормалайзу */
    box-sizing: border-box;

    /*  Тінь одношарова,втиснута */
    /* box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.3); */

    /* Тінь багатошарова */
    /* box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12); */

    /* Тінь багатошарова,різнокольорова */
    box-shadow: 0 2.8px 2.2px red, 0 6.7px 5.3px blue, 0 12.5px 10px green,
    0 22.3px 17.9px purple, 0 41.8px 33.4px orange, 0 100px 80px teal;
}
 